.arrow {
    text-align: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow button {
    transition: all 0.2s;
    font-size: 36px;
    color: #e5e6e8fa;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}

.arrow button:hover {
    color: #868686;
}

.arrow .toLeft {
    transform: rotate(180deg);
}

