.section-1 {
    width: 800px;
    height: 605px;
    background: #ffffff;
    box-shadow: 0 0.185rem 1.95rem rgba(0,0,0,.075);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    border-radius: 20px;
}